USE [master]
GO
/****** Object:  Database [CanToolApp]    Script Date: 2017/10/27 16:49:44 ******/
CREATE DATABASE [CanToolApp]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CanToolApp', FILENAME = N'e:\MSSQL11.SQLEXPRESS\MSSQL\DATA\CanToolApp.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CanToolApp_log', FILENAME = N'e:\MSSQL11.SQLEXPRESS\MSSQL\DATA\CanToolApp_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CanToolApp].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CanToolApp]
GO
/****** Object:  Table [dbo].[CanMessage]    Script Date: 2017/10/27 16:49:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CanMessage](
	[BO_] [char](32) NOT NULL,
	[ID] [int] NOT NULL,
	[MessageName] [char](32) NOT NULL,
	[Separator] [char](1) NOT NULL,
	[DLC] [char](10) NOT NULL,
	[NodeName] [char](32) NOT NULL,
 CONSTRAINT [PK_CanMessage] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CanSignal]    Script Date: 2017/10/27 16:49:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CanSignal](
	[SG_] [char](32) NULL,
	[SignalName] [char](32) NOT NULL,
	[ID] [int] NOT NULL,
	[Separetor] [char](1) NULL,
	[OriginAndLenth] [char](10) NULL,
	[A] [float] NULL,
	[B] [float] NULL,
	[C] [float] NULL,
	[D] [float] NULL,
	[PhysicsCell] [char](32) NULL,
	[NodeName] [char](255) NULL,
 CONSTRAINT [PK__CanSigna__8B59C27487E8151B] PRIMARY KEY CLUSTERED 
(
	[SignalName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[CanMessage] ([BO_], [ID], [MessageName], [Separator], [DLC], [NodeName]) VALUES (N'BO_                             ', 61, N'CDU_4                           ', N':', N'8         ', N'CDU                             ')
INSERT [dbo].[CanMessage] ([BO_], [ID], [MessageName], [Separator], [DLC], [NodeName]) VALUES (N'BO_                             ', 100, N'EngineData                      ', N':', N'8         ', N'Engine                          ')
INSERT [dbo].[CanMessage] ([BO_], [ID], [MessageName], [Separator], [DLC], [NodeName]) VALUES (N'BO_                             ', 101, N'EngineStatus                    ', N':', N'1         ', N'Engine                          ')
INSERT [dbo].[CanSignal] ([SG_], [SignalName], [ID], [Separetor], [OriginAndLenth], [A], [B], [C], [D], [PhysicsCell], [NodeName]) VALUES (N'SG_                             ', N'AccelarationForce               ', 201, N':', N'32|16@1+  ', 1, -10000, 0, 0, N'"N"                             ', N'Vector__XXX                                                                                                                                                                                                                                                    ')
INSERT [dbo].[CanSignal] ([SG_], [SignalName], [ID], [Separetor], [OriginAndLenth], [A], [B], [C], [D], [PhysicsCell], [NodeName]) VALUES (N'SG_                             ', N'ACP_BaseState                   ', 867, N':', N'63|3@0+   ', 1, 0, 0, 7, N'""                              ', N'HAVC                                                                                                                                                                                                                                                           ')
INSERT [dbo].[CanSignal] ([SG_], [SignalName], [ID], [Separetor], [OriginAndLenth], [A], [B], [C], [D], [PhysicsCell], [NodeName]) VALUES (N'SG_                             ', N'ACP_Current                     ', 867, N':', N'16|9@0+   ', 0.1, 0, 0, 51, N'""                              ', N'HAVC                                                                                                                                                                                                                                                           ')
GO
ALTER TABLE [dbo].[CanSignal]  WITH CHECK ADD  CONSTRAINT [FK_CanSignal_CanMessage] FOREIGN KEY([ID])
REFERENCES [dbo].[CanMessage] ([ID])
GO
ALTER TABLE [dbo].[CanSignal] CHECK CONSTRAINT [FK_CanSignal_CanMessage]
GO
USE [master]
GO
